*{ box-sizing: border-box;}

body{ padding: 0; margin: 0; background-color: black; color: white;}

.container { width: 1200px; margin: 0 auto;}

.main-span { color: rgb(217, 4, 51); font-weight: bold;}

.image-over{ position: relative;}

.overlay {
    position: absolute; 
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.555);
    opacity: 0;
    cursor: pointer;
}

/*****************************************************************************************************/

.navbar { height: 0; position: relative; z-index: 2;}

.navbar .navbar-flex { display: flex; }

.navbar .navbar-flex .collaspe1 { width: 40%; text-align: right;}

.navbar .navbar-flex .collaspe1 ul li, .navbar .navbar-flex .collaspe2 ul li { 
    list-style: none; 
    display: inline-block; 
    color: white; 
    margin-right: 15px;
    padding: 10px;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
    transition: .10s;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar .navbar-flex .brand { 
    width: 20%; 
    margin-top: 0;
    color: white; 
    text-align: center;     
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar .navbar-flex .collaspe2 { width: 40%; text-align: left;}

.navbar .navbar-flex ul li span:first-of-type:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    height: 8px;
    width: 8px;
    border-top: 2px solid rgb(217, 4, 51);
    border-left: 2px solid rgb(117, 4, 51);
    opacity: 0;
}

.navbar .navbar-flex ul li span:first-of-type::after{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    height: 8px;
    width: 8px;
    border-top: 2px solid rgb(217, 4, 51);
    border-right: 2px solid rgb(117, 4, 51);
    opacity:0;
}

.navbar .navbar-flex ul li:hover span:first-of-type:before { opacity: 1; }

.navbar .navbar-flex ul li:hover span:first-of-type::after{ opacity: 1;}

.navbar .navbar-flex ul li span:last-of-type:before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8px;
    width: 8px;
    border-bottom: 2px solid rgb(217, 4, 51);
    border-left: 2px solid rgb(117, 4, 51);
    opacity: 0;
}

.navbar .navbar-flex ul li span:last-of-type::after{
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 8px;
    width: 8px;
    border-bottom: 2px solid rgb(217, 4, 51);
    border-right: 2px solid rgb(117, 4, 51);
    opacity: 0;
}

.navbar .navbar-flex ul li:hover span:last-of-type:before {opacity: 1;}

.navbar .navbar-flex ul li:hover span:last-of-type::after { opacity:1;}

/***********************************************************************************************/

.header { 
    background-image: url(../images/header.png); 
    background-size: 100% 100%; 
    height: 550px; 
    position: relative; 
    z-index: 1; 
    background-attachment:fixed;
}

.header .container .heading { 
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.header .container .heading h1 { font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 50px;}

.header .container .heading p { font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 30px;}

.header .overlay { 
    opacity: 1;
}

/***********************************************************************************************************/

.potfolio {padding-top: 30px;}

.potfolio .portfolio-containt { display: flex;}

.potfolio .portfolio-containt .portfolio-one { 
    width: 33.333333%; 
    height: auto; 
    padding-left: 15px; 
    padding-right: 15px;
}

.potfolio .portfolio-containt .portfolio-one h2 { color: white; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.potfolio .portfolio-containt .portfolio-one:not(:nth-of-type(2)){
    border-left : .5px solid #222; 
    border-right: .5px solid #222;
}

.potfolio .portfolio-containt .portfolio-one:not(:first-of-type){ padding-top: 72px;}

.potfolio .portfolio-containt .portfolio-one img { width: 100%; margin:  15px 0;}

.potfolio .portfolio-containt .portfolio-one .image-over { position: relative;}  

.potfolio .portfolio-containt .portfolio-one .image-over:hover .overlay{ opacity: 1; transition: .5s;}

.potfolio .portfolio-containt .portfolio-one .image-over:hover .overlay .potfolio-info {
    position: absolute;
    left: 10px;
    bottom: 0;
    color: white;
}

/***************************************************************************************************/

.about .heading { 
    color: white; 
    font-weight: bold; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-align: center; 
    padding-bottom: 30px;
}

.about .about-flex { display: flex;}

.about .about-flex .about1 { width: 70%; border-left : .5px solid #222; position: relative;}

.about .about-flex .about1::after{
    content: " ";
    position: absolute;
    bottom: -35px;
    right: 230px;
    width: 200px;
    height: 200px;
    z-index: -1;
    background-image: url(../images/dotted_light.png);
}

.about .about-flex .about1 img { width: 66.66666666%; padding-left: 30px;}

.about .about-flex .about2 { 
    width: 33.333333333333%; 
    color: white; 
    line-height: 30px; 
    padding-left: 30px;
    border-left : .5px solid #222; 
    border-right: .5px solid #222;
}

.about .about-flex .about2 h2 { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold; }

.about .about-flex .about2 p { color:#ddd; padding-right: 100px;}

.about .about-flex .about2 button {
    border: .5px solid white; 
    background-color: transparent; 
    color: white; 
    font-weight: bold; 
    border-radius: 20px; 
    cursor: pointer;
    padding: 12px;
    letter-spacing: 2px;
    margin: 20px auto;
}

/******************************************************************************************************/

.testemonials{ margin-top: 50px; padding: 40px;}

.testemonials .heading {
    color: white; 
    font-weight: bold; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-align: center; 
    padding-bottom: 30px;
}

.testemonials .testemonials-info { 
    text-align: center; 
    color: white;
    box-shadow: 0px 30px 0px -20px rgb(202, 26, 123); 
    background-color: rgb(78, 78, 78); 
    padding: 40px;
}

.testemonials .testemonials-info span{ font-size: 90px;}

.testemonials .testemonials-info p{ 
    color: #f5f5f5; 
    font-size: 22px;
    line-height: 40px;
}

.testemonials .testemonials-img { text-align: center; color: white; margin-top: -50px;}

.testemonials .testemonials-img img { width: 100px; border-radius: 50%; }

.testemonials .controls .pollets{ text-align: center; padding-top: 20px;}

.testemonials .controls .pollets span{
    width: 10px;
    height: 10px;
    background-color: #555;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}

.testemonials .controls .pollets span.active,
.testemonials .controls .pollets span:hover { background-color: white;}

.testemonials .controls .arrows {position: relative; cursor: pointer;}

.testemonials .controls .arrows i:first-of-type { position: absolute; left: 0; bottom: -10px;}

.testemonials .controls .arrows i:last-of-type { position: absolute; right: 0; bottom: -10px;}

/**************************************************************************************************/

.images { padding-top:50px;}

.images .heading {
    color: white; 
    font-weight: bold; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-align: center; 
    padding-bottom: 30px;
}

.images .images-containt { display: flex; }

.images .images-containt .big { width: 66.666666%; border-left: .5px solid #222; padding: 0 15px; border-right: .5px solid #222;}

.images .images-containt .big .image-over .overlay { opacity: 1; transition: .5s;}

.images .images-containt .big .image-over .overlay:hover { opacity: 0;}

.images .images-containt .big img {width: 98%; height: 330px; margin-right: 10px;}

.images .images-containt .big .big2 {display: flex; padding-top: 3px;}

.images .images-containt .big .big2 img {width: 96%; margin-right: 30px;}

.images .images-containt .small { width: 33.333333%; border-right: .5px solid #222;}

.images .images-containt .small img {width: 98%; height: 330px; padding: 0 15px;}

/***************************************************************************************************/

.footer {background-color: rgb(36, 34, 34); margin-top: 30px; background-attachment: fixed;}

.footer .footer-containt { font-weight: bold; text-align: center; padding: 65px 0; }

.footer .footer-containt h2 { color: white; font-size: 35px;}

.footer .footer-containt h2 span {color: rgb(217, 4, 51);}

.footer .footer-containt .footer-span span { text-transform: uppercase; color: rgb(160, 160, 160); margin-right: 20px;}

.footer .footer-containt p { color: rgb(110, 110, 110);}